In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
table = pd.read_csv('data.csv', index_col='JMÉNO')[:-1]

In [3]:
# počet unikátních jmen
for year in range(1916,2017):
    print(year, np.sum(table[str(year)].values!=0))

1916 86
1917 132
1918 141
1919 223
1920 269
1921 366
1922 435
1923 537
1924 605
1925 650
1926 730
1927 782
1928 888
1929 953
1930 1038
1931 1081
1932 1128
1933 1177
1934 1227
1935 1267
1936 1290
1937 1334
1938 1420
1939 1440
1940 1569
1941 1585
1942 1602
1943 1687
1944 1739
1945 1669
1946 1746
1947 1684
1948 1715
1949 1734
1950 1677
1951 1696
1952 1726
1953 1670
1954 1671
1955 1641
1956 1632
1957 1637
1958 1566
1959 1548
1960 1568
1961 1575
1962 1624
1963 1680
1964 1739
1965 1742
1966 1737
1967 1669
1968 1771
1969 1792
1970 1826
1971 1839
1972 1867
1973 1803
1974 1903
1975 1896
1976 1831
1977 1778
1978 1756
1979 1744
1980 1712
1981 1654
1982 1616
1983 1559
1984 1604
1985 1640
1986 1636
1987 1701
1988 1647
1989 1786
1990 1808
1991 1988
1992 2260
1993 2263
1994 2289
1995 2300
1996 2288
1997 2343
1998 2341
1999 2190
2000 2474
2001 3500
2002 3804
2003 4026
2004 4278
2005 4647
2006 5280
2007 5578
2008 6303
2009 6434
2010 6320
2011 6159
2012 6231
2013 6219
2014 6157
2015 6198
2016 5558

In [4]:
# mediánový věk pro jméno
def get_median(name):
    subtable = table.loc[name].loc["1916":"2016"]
    year = 1916
    median_list = []
    for entry in subtable:
        for i in range(int(entry)):
            median_list.append(int(year))
        year+=1

    return median_list[round(len(median_list)/4)], median_list[round(len(median_list)/2)], median_list[3*round(len(median_list)/4)]

In [6]:
namecount = 0
name_medians = {}
for name, row in table.iterrows():
    if row["3000"] >= 500:
        namecount += 1
        name_medians[name] = get_median(name)
print(namecount)

543

In [7]:
medians_sorted = sorted(name_medians, key=lambda x: name_medians[x][1])

# nejstarší jména (podle medianu)
for name in medians_sorted[:25]:
    if name != "NEZJIŠTĚNO":
        print(name, name_medians[name][1])

JIŘINKA 1936
ALOISIE 1937
HILDEGARDA 1939
ALENKA 1940
DANUŠKA 1940
GERTRUDA 1940
HILDA 1940
INGEBORG 1940
OTILIE 1940
CECILIE 1941
JOSEFA 1941
FRANTIŠKA 1942
HELGA 1942
HERMÍNA 1942
VĚROSLAVA 1942
MILUŠKA 1943
ADOLF 1944
EMILIA 1944
EMILIE 1944
GERHARD 1944
JARUŠKA 1944
JOZEFA 1944
LIDMILA 1944
BEDŘIŠKA 1945
BLAŽENA 1945

In [8]:
# nejmladší jména (podle medianu)
for name in medians_sorted[-25:]:
    if name != "NEZJIŠTĚNO":
        print(name, name_medians[name][1])

SEBASTIAN 2011
SEBASTIÁN 2011
VICTORIA 2011
ADINA 2012
DAMIÁN 2012
EMMA 2012
ISABELLA 2012
JASMÍNA 2012
LEONTÝNA 2012
LILIANA 2012
SOFIE 2012
STELA 2012
STELLA 2012
TEODOR 2012
TOBIAS 2012
TOBIÁŠ 2012
VOJTA 2012
ELIÁŠ 2013
ELLA 2013
EMILY 2013
MIA 2013
ROZÁRIE 2013
THEA 2013
ZOE 2013
LILIEN 2014

In [10]:
# nejmenší a největší spread
spread = {}
for name in name_medians:
    spread[name] = int(name_medians[name][2])-int(name_medians[name][0])
spread = sorted(spread, key=lambda x: int(spread[x]))
for name in spread[-100:]:
        print(name, name_medians[name][0], name_medians[name][2], int(name_medians[name][2])-int(name_medians[name][0]))

KATARÍNA 1952 1979 27
LEONA 1972 1999 27
OTA 1953 1980 27
OTTO 1942 1969 27
TÁŇA 1960 1987 27
VALERIE 1985 2012 27
ALBERT 1985 2013 28
BRIGITA 1947 1975 28
ELEONORA 1941 1969 28
HERMÍNA 1934 1962 28
MAGDALÉNA 1981 2009 28
ONDREJ 1949 1977 28
VÍTĚZSLAV 1954 1982 28
ZLATA 1956 1984 28
ERIKA 1962 1991 29
FERDINAND 1941 1970 29
KARLA 1947 1976 29
TIBOR 1960 1989 29
VÍT 1975 2004 29
ANITA 1977 2007 30
ANTONIE 1939 1969 30
BORIS 1959 1989 30
IDA 1949 1979 30
IRMA 1938 1968 30
JULIUS 1951 1981 30
KARIN 1970 2000 30
ANDĚLA 1936 1967 31
GITA 1981 2012 31
JINDŘICH 1949 1980 31
JOLANA 1965 1996 31
TATIANA 1959 1990 31
VILMA 1943 1974 31
ZDISLAVA 1947 1978 31
ALICE 1965 1997 32
DARJA 1962 1994 32
ERNEST 1952 1984 32
RICHARD 1969 2001 32
ŠTĚPÁNKA 1968 2000 32
VILIAM 1951 1983 32
VINCENT 1982 2014 32
ALAN 1971 2004 33
BEATA 1977 2010 33
BĚLA 1943 1976 33
DANIELA 1964 1997 33
SLÁVKA 1945 1978 33
VÁCLAV 1948 1981 33
VIOLA 1979 2012 33
HYNEK 1968 2002 34
JAN 1959 1993 34
NINA 1978 2012 34
TEREZIE 1974 2008 34
ANTONÍN 1947 1982 35
ROLAND 1957 1992 35
ALEXANDRA 1966 2002 36
ARTUR 1974 2010 36
EDUARD 1947 1983 36
MIRIAM 1971 2007 36
NORA 1973 2009 36
HEDVIKA 1939 1976 37
JUDITA 1954 1991 37
LEON 1972 2009 37
VIKTOR 1970 2007 37
BARTOLOMĚJ 1974 2012 38
GABRIEL 1972 2010 38
KRISTÍNA 1962 2000 38
TAMARA 1962 2000 38
ZORA 1952 1990 38
HUGO 1974 2013 39
ALEXANDR 1967 2007 40
KRISTINA 1955 1995 40
THEODOR 1974 2014 40
BOŘEK 1962 2003 41
ANDREJ 1959 2001 42
FELIX 1971 2013 42
LEA 1969 2011 42
MATYLDA 1970 2013 43
MAGDALENA 1954 1998 44
ČENĚK 1952 1997 45
VALENTINA 1964 2009 45
ALEXANDER 1952 1999 47
CYRIL 1947 1994 47
OSKAR 1963 2011 48
JULIANA 1939 1988 49
VANDA 1951 2000 49
ALEXEJ 1955 2006 51
ELENA 1961 2012 51
MELANIE 1961 2012 51
ANNA 1944 1996 52
VILÉM 1951 2003 52
ANASTÁZIE 1959 2012 53
EMÍLIE 1960 2014 54
HUBERT 1949 2004 55
ALŽBĚTA 1950 2006 56
BRUNO 1952 2012 60
JULIA 1948 2009 61
METODĚJ 1948 2011 63
MARIANNA 1944 2008 64
ANEŽKA 1942 2008 66
BERTA 1937 2006 69
ŽOFIE 1935 2008 73

In [11]:
for name in spread[:100]:
    if name!="NEZJIŠTĚNO":
        print(name, name_medians[name][0], name_medians[name][2], int(name_medians[name][2])-int(name_medians[name][0]))

LILIEN 2012 2015 3
SOFIE 2010 2014 4
THEA 2011 2015 4
YVETTA 1961 1965 4
AMÉLIE 2008 2013 5
ELIÁŠ 2010 2015 5
ELLA 2010 2015 5
EMILY 2010 2015 5
MIA 2010 2015 5
ROZÁRIE 2010 2015 5
TOBIAS 2009 2014 5
TOBIÁŠ 2009 2014 5
VOJTA 2009 2014 5
ZOE 2010 2015 5
ADINA 2008 2014 6
AMÁLIE 2008 2014 6
ELA 2008 2014 6
ELEN 2008 2014 6
ISABELLA 2009 2015 6
IVANKA 1944 1950 6
JUSTÝNA 2008 2014 6
LAURA 2008 2014 6
LEONTÝNA 2008 2014 6
MATYAS 2008 2014 6
MATYÁŠ 2007 2013 6
MAX 2008 2014 6
NELLA 2008 2014 6
NICOL 2005 2011 6
SOPHIE 2007 2013 6
STELA 2009 2015 6
STELLA 2009 2015 6
DAMIÁN 2007 2014 7
EMA 2007 2014 7
EMMA 2008 2015 7
EVELÍNA 2007 2014 7
LILIANA 2007 2014 7
MAXIM 2006 2013 7
NATALI 2006 2013 7
OLIVER 2007 2014 7
SAMUEL 2006 2013 7
SEBASTIAN 2007 2014 7
SEBASTIÁN 2007 2014 7
VANESA 2006 2013 7
VANESSA 2005 2012 7
YVETA 1962 1969 7
ANNA MARIE 2004 2012 8
BOHDANA 1969 1977 8
JASMÍNA 2007 2015 8
JÁCHYM 2006 2014 8
NELA 2004 2012 8
NICOLA 1993 2001 8
ROZÁLIE 2007 2015 8
SAMANTA 2005 2013 8
SOFIA 2006 2014 8
VALENTÝNA 2005 2013 8
VICTORIA 2006 2014 8
YVONA 1960 1968 8
AGÁTA 2004 2013 9
ALEX 2005 2014 9
BÁRA 2002 2011 9
ELLEN 2005 2014 9
INGEBORG 1936 1945 9
JOHANKA 2004 2013 9
JONÁŠ 2004 2013 9
JOSEFÍNA 2005 2014 9
MAXMILIÁN 2005 2014 9
NATÁLIE 2002 2011 9
NICOLAS 2003 2012 9
ŠIMON 2004 2013 9
TADEÁŠ 2003 2012 9
TEODOR 2006 2015 9
VIKTORIE 2005 2014 9
VÍTEK 2004 2013 9
BERENIKA 2003 2013 10
ELIZABETH 2004 2014 10
GERTRUDA 1933 1943 10
HILDEGARDA 1932 1942 10
IZABELA 2004 2014 10
KLAUDIE 2003 2013 10
LUCIA 1980 1990 10
NELLY 2002 2012 10
RADOMÍRA 1959 1969 10
RENÁTA 1968 1978 10
RÓBERT 1968 1978 10
SARAH 2000 2010 10
SÁRA 2001 2011 10
TAŤJANA 1952 1962 10
TINA 2003 2013 10
VALÉRIE 2002 2012 10
VLADAN 1970 1980 10
HELGA 1939 1950 11
KEVIN 2000 2011 11
KRISTIÁN 2002 2013 11
KRYŠTOF 2002 2013 11
LIBĚNA 1959 1970 11
MATĚJ 2000 2011 11
NICOLE 1992 2003 11
NIKOLAS 2001 2012 11
ADRIAN 2000 2012 12
ALENKA 1934 1946 12

In [12]:
# 25 nejčastějších jmen
table.sort_values(by="3000",ascending=False)["3000"].head(n=25)

JMÉNO
JIŘÍ         296090
JAN          293938
PETR         272135
JANA         264944
MARIE        260526
JOSEF        211317
PAVEL        200997
MARTIN       188380
TOMÁŠ        181926
JAROSLAV     172785
EVA          152463
MIROSLAV     147753
HANA         145901
ANNA         134819
ZDENĚK       126094
VÁCLAV       123927
MICHAL       123324
FRANTIŠEK    122910
LENKA        118763
KATEŘINA     118127
LUCIE        111937
JAKUB        108013
MILAN        107458
VĚRA         107388
ALENA        105093
Name: 3000, dtype: int64